body {
    background-color: var(--base-color);
    color: var(--text-color);
    margin: 0;
}

code {
    color: var(--secondary-color);
}

pre {
    background-color: var(--base-color-bright);
    border-radius: var(--border-radius);
    padding: var(--padding-top) var(--padding-left);

    code {
        color: var(--text-color);
    }
}

$shadows: xs, s, m, l, xl;

@each $shadow in $shadows {
    .shadow-#{$shadow} {
        box-shadow: var(--shadow-#{$shadow});
    }
}