.navbar {
    --navbar-padding-top: 0;
    --navbar-padding-bottom: var(--navbar-padding-top);
    --navbar-padding-left: var(--padding-left);
    --navbar-padding-right: var(--navbar-padding-left);
    --navbar-padding: var(--navbar-padding-top) var(--navbar-padding-right) var(--navbar-padding-bottom) var(--navbar-padding-left);
    --navbar-text-color: var(--text-color);
    --navbar-background-color: var(--base-color-bright);
    --navbar-margin: 1rem;
    --navbar-transition: var(--transition);

    align-items: center;
    background-color: var(--navbar-background-color);
    color: var(--navbar-text-color);
    display: flex;
    flex-wrap: nowrap;
    font-weight: var(--navbar-font-weight);
    justify-content: space-between;
    margin-bottom: var(--navbar-margin);
    padding: var(--navbar-padding);

    &__logo {
        align-self: center;
    }

    &__item {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
    }

    &__link {
        --navbar-link-padding: var(--padding-top);
        --navbar-link-text-color: var(--base-color-step-700);
        --navbar-link-color-hover: var(--text-color);

        color: var(--navbar-link-text-color);
        display: block;
        font-weight: 500;
        padding: var(--navbar-link-padding);
        transition: var(--navbar-transition);

        &:hover {
            color: var(--navbar-link-color-hover);
        }
    }

    &--sticky {
        position: sticky;
        top: 0;
        z-index: 1000000;
    }
}