.sidenav-and-main {
    display: flex;

}

.sidenav {
    --sidenav-top: 64px;
    --sidenav-width: 300px;
    width: var(--sidenav-width);
    position: sticky;
    top: var(--sidenav-top);
    align-self: flex-start;
    &__subheader {
        --sidenav-subheader-font-weight: bold;
        font-weight: var(--sidenav-subheader-font-weight);
    }
    &__item {
        --sidenav-item-color: var(--text-color);
        --sidenav-item-background-color: var(--background-color);
        --sidenav-item-border-color: var(--background-color);
        --sidenav-item-padding-top: var(--padding-top);
        --sidenav-item-padding-bottom: var(--sidenav-item-padding-top);
        --sidenav-item-padding-left: var(--padding-left);
        --sidenav-item-padding-right: var(--sidenav-item-padding-left);
        --sidenav-item-padding: var(--sidenav-item-padding-top) var(--sidenav-item-padding-right) var(--sidenav-item-padding-bottom) var(--sidenav-item-padding-left);
        --sidenav-item-font-weight: 500;
        --sidenav-item-transition: var(--transition);
        border-left: 5px solid var(--sidenav-item-border-color);
        background-color: var(--sidenav-item-background-color);
        color: var(--sidenav-item-color);
        display: block;
        list-style-type: none;
        padding: var(--sidenav-item-padding);
        font-weight: var(--sidenav-item-font-weight);
        transition: var(--sidenav-item-transition);
        &:hover {
            --sidenav-item-color: var(--primary-color);
            --sidenav-item-border-color: var(--background-color-step-100);
            --sidenav-item-background-color: var(--background-color-step-100);
        }
        &--active, &--active:hover {
            --sidenav-item-color: var(--primary-color);
            --sidenav-item-border-color: var(--primary-color);
            --sidenav-item-background-color: var(--background-color-step-100);
        }
    }
}
