.sidenav-and-main {
    display: flex;

}

.sidenav {
    --sidenav-top: 64px;
    --sidenav-width: 300px;

    align-self: flex-start;
    position: sticky;
    top: var(--sidenav-top);
    width: var(--sidenav-width);

    &__subheader {
        --sidenav-subheader-font-weight: bold;

        font-weight: var(--sidenav-subheader-font-weight);
    }

    &__item {
        --sidenav-item-color: var(--text-color);
        --sidenav-item-background-color: var(--base-color);
        --sidenav-item-border-color: var(--base-color);
        --sidenav-item-border-radius: var(--border-radius);
        --sidenav-item-padding-top: var(--padding-top);
        --sidenav-item-padding-bottom: var(--sidenav-item-padding-top);
        --sidenav-item-padding-left: var(--padding-left);
        --sidenav-item-padding-right: var(--sidenav-item-padding-left);
        --sidenav-item-padding: var(--sidenav-item-padding-top) var(--sidenav-item-padding-right) var(--sidenav-item-padding-bottom) var(--sidenav-item-padding-left);
        --sidenav-item-font-weight: 500;
        --sidenav-item-transition: var(--transition);

        background-color: var(--sidenav-item-background-color);
        border-left: 5px solid var(--sidenav-item-border-color);
        border-radius: var(--sidenav-item-border-radius);
        color: var(--sidenav-item-color);
        display: block;
        font-weight: var(--sidenav-item-font-weight);
        list-style-type: none;
        padding: var(--sidenav-item-padding);
        transition: var(--sidenav-item-transition);

        &:hover {
            --sidenav-item-color: var(--primary-color);
            --sidenav-item-border-color: var(--base-color-step-100);
            --sidenav-item-background-color: var(--base-color-step-100);
        }

        &--active, &--active:hover {
            --sidenav-item-color: var(--primary-color);
            --sidenav-item-border-color: var(--primary-color);
            --sidenav-item-background-color: var(--base-color-step-100);
        }
    }
}
