.btn,.btn-flat,.btn-outline {
    --button-text-color: var(--text-color);
    --button-font-weight: bold;
    --button-padding-top: var(--padding-top);
    --button-padding-bottom: var(--button-padding-top);
    --button-padding-left: var(--padding-left);
    --button-padding-right: var(--button-padding-left);
    --button-border-radius: var(--border-radius);
    --button-border-width: 0;
    --button-border-style: solid;
    --button-border-color: transparent;
    --button-border: var(--button-border-width) var(--button-border-style) var(--button-border-color);
    --button-background-color: var(--background-color-step-50);
    --button-background-color-hover: var(--background-color-shade);
    --button-transition: var(--transition);
    --button-text-transform: uppercase;
    color: var(--button-text-color);
    font-weight: var(--button-font-weight);
    padding: var(--button-padding-top) var(--button-padding-right) var(--button-padding-bottom) var(--button-padding-left);
    border-radius: var(--button-border-radius);
    border: var(--button-border);
    border-color: var(--button-border-color);
    background: var(--button-background-color);
    transition: var(--button-transition);
    text-transform: var(--button-text-transform);
    &:hover {
        cursor: pointer;
    }
    &:hover,&:active,&:focus {
        background: var(--button-background-color-hover);
    }
}

.btn {
    @each $color-key, $color-value in $theme-colors {
        &-#{$color-key} {
            --button-background-color: var(--#{$color-key}-color);
            --button-background-color-hover: var(--#{$color-key}-color-shade);
            --button-text-color: var(--#{$color-key}-color-contrast);
        }
    }
}

.btn-flat {
    --button-background-color: transparent;
    --button-background-color-hover: transparent;
    --button-border-bottom-color: var(--button-border-color);
    --button-border-bottom-color-hover: var(--background-color-shade);
    --button-border-bottom-width: 0.3rem;
    --button-padding-bottom: calc(var(--button-padding-top) - var(--button-border-bottom-width));
    border-bottom: var(--button-border-bottom-width) var(--button-border-style) var(--button-border-bottom-color);
    @each $color-key, $color-value in $theme-colors {
        &-#{$color-key} {
            --button-text-color: var(--#{$color-key}-color);
            --button-border-bottom-color-hover: var(--#{$color-key}-color);
        }
    }
    &:hover {
        --button-border-bottom-color: var(--button-border-bottom-color-hover);
    }
}

.btn-group {
    display: flex;
    flex: 1 1 auto;
    &>.btn {
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        &:first-child {
            border-top-left-radius: var(--button-border-radius);
            border-bottom-left-radius: var(--button-border-radius);
        }
        &:last-child {
            border-top-right-radius: var(--button-border-radius);
            border-bottom-right-radius: var(--button-border-radius);
        }
    }
}