body {
    background-color: var(--background-color);
    color: var(--text-color);
}

pre {
    background-color: var(--background-color-step-50);
    padding: var(--padding-top) var(--padding-left);
    border-radius: var(--border-radius);
}