body {
    background-color: var(--background-color);
    color: var(--text-color);
}

pre {
    background-color: var(--background-color-step-50);
    padding: var(--padding-top) var(--padding-left);
    border-radius: var(--border-radius);
    code {
        color: var(--text-color);
    }
}

code {
    color: var(--secondary-color);
}

$shadows: xs, s, m, l, xl;
@each $shadow in $shadows {
    .shadow-#{$shadow} {
        box-shadow: var(--shadow-#{$shadow});
    }
}